
    <h1>{{name}}</h1>
    <img src="{{picture}}" />
    
    <p>{{style}}</p>
    <p>{{address}}</p> 
    <p>{{phonenumber}}</p>
    <p>{{price}}</p>
    <p>{{wifi}}</p>
    <p>{{coworking}}</p>
    <p>{{delivery}}</p>
    <p>{{petFriendly}}</p>

        {{#if petFriendly}}
        {{/if}}



    <form action="/restaurants/{{ this.id }}" method="POST">
        <button type="submit" name="rate" value="like">like</button>
        <button type="submit" name="rate" value="dislike">dislike</button>
        <label> Review
            <input type="text" name="review" placeholder="Your review" />
        </label>
    </form>

