<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<body>
    
</body>
</html>
    
    <div class="card-names">
        <img src="{{restaurant.picture}}"/> 
        <h1>{{restaurant.name}}</h1>
    </div>

    <div class="style-price">
        <p>{{restaurant.style}}</p>
        <p>{{restaurant.price}}</p>
    </div>

<hr>
    <div class="rest-card">
        <p>{{restaurant.address}}</p> <br>
        {{#if restaurant.phonenumber}}
        <p>{{restaurant.phonenumber}}</p>
        {{/if}}
       <br>
        {{#if restaurant.instagram}}
            <a href="{{restaurant.instagram}}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="50" width="100" viewBox="-19.5036 -32.49725 169.0312 194.9835"><defs><radialGradient fy="578.088" fx="158.429" gradientTransform="matrix(0 -1.98198 1.8439 0 -1031.399 454.004)" gradientUnits="userSpaceOnUse" xlink:href="#a" r="65" cy="578.088" cx="158.429" id="c"/><radialGradient fy="473.455" fx="147.694" gradientTransform="matrix(.17394 .86872 -3.5818 .71718 1648.351 -458.493)" gradientUnits="userSpaceOnUse" xlink:href="#b" r="65" cy="473.455" cx="147.694" id="d"/><linearGradient id="b"><stop stop-color="#3771c8" offset="0"/><stop offset=".128" stop-color="#3771c8"/><stop stop-opacity="0" stop-color="#60f" offset="1"/></linearGradient><linearGradient id="a"><stop stop-color="#fd5" offset="0"/><stop stop-color="#fd5" offset=".1"/><stop stop-color="#ff543e" offset=".5"/><stop stop-color="#c837ab" offset="1"/></linearGradient></defs><path d="M65.033 0C37.891 0 29.953.028 28.41.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468-4.125 4.282-6.625 9.55-7.53 15.812-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28a27.22 27.22 0 0017.75-14.53c1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624-4.3-4.108-9.56-6.608-15.829-7.512C102.338.157 101.733.027 86.193 0z" fill="url(#c)"/><path d="M65.033 0C37.891 0 29.953.028 28.41.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468-4.125 4.282-6.625 9.55-7.53 15.812-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28a27.22 27.22 0 0017.75-14.53c1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624-4.3-4.108-9.56-6.608-15.829-7.512C102.338.157 101.733.027 86.193 0z" fill="url(#d)"/><path d="M65.003 17c-13.036 0-14.672.057-19.792.29-5.11.234-8.598 1.043-11.65 2.23-3.157 1.226-5.835 2.866-8.503 5.535-2.67 2.668-4.31 5.346-5.54 8.502-1.19 3.053-2 6.542-2.23 11.65C17.06 50.327 17 51.964 17 65s.058 14.667.29 19.787c.235 5.11 1.044 8.598 2.23 11.65 1.227 3.157 2.867 5.835 5.536 8.503 2.667 2.67 5.345 4.314 8.5 5.54 3.054 1.187 6.543 1.996 11.652 2.23 5.12.233 6.755.29 19.79.29 13.037 0 14.668-.057 19.788-.29 5.11-.234 8.602-1.043 11.656-2.23 3.156-1.226 5.83-2.87 8.497-5.54 2.67-2.668 4.31-5.346 5.54-8.502 1.18-3.053 1.99-6.542 2.23-11.65.23-5.12.29-6.752.29-19.788 0-13.036-.06-14.672-.29-19.792-.24-5.11-1.05-8.598-2.23-11.65-1.23-3.157-2.87-5.835-5.54-8.503-2.67-2.67-5.34-4.31-8.5-5.535-3.06-1.187-6.55-1.996-11.66-2.23-5.12-.233-6.75-.29-19.79-.29zm-4.306 8.65c1.278-.002 2.704 0 4.306 0 12.816 0 14.335.046 19.396.276 4.68.214 7.22.996 8.912 1.653 2.24.87 3.837 1.91 5.516 3.59 1.68 1.68 2.72 3.28 3.592 5.52.657 1.69 1.44 4.23 1.653 8.91.23 5.06.28 6.58.28 19.39s-.05 14.33-.28 19.39c-.214 4.68-.996 7.22-1.653 8.91-.87 2.24-1.912 3.835-3.592 5.514-1.68 1.68-3.275 2.72-5.516 3.59-1.69.66-4.232 1.44-8.912 1.654-5.06.23-6.58.28-19.396.28-12.817 0-14.336-.05-19.396-.28-4.68-.216-7.22-.998-8.913-1.655-2.24-.87-3.84-1.91-5.52-3.59-1.68-1.68-2.72-3.276-3.592-5.517-.657-1.69-1.44-4.23-1.653-8.91-.23-5.06-.276-6.58-.276-19.398s.046-14.33.276-19.39c.214-4.68.996-7.22 1.653-8.912.87-2.24 1.912-3.84 3.592-5.52 1.68-1.68 3.28-2.72 5.52-3.592 1.692-.66 4.233-1.44 8.913-1.655 4.428-.2 6.144-.26 15.09-.27zm29.928 7.97a5.76 5.76 0 105.76 5.758c0-3.18-2.58-5.76-5.76-5.76zm-25.622 6.73c-13.613 0-24.65 11.037-24.65 24.65 0 13.613 11.037 24.645 24.65 24.645C78.616 89.645 89.65 78.613 89.65 65S78.615 40.35 65.002 40.35zm0 8.65c8.836 0 16 7.163 16 16 0 8.836-7.164 16-16 16-8.837 0-16-7.164-16-16 0-8.837 7.163-16 16-16z" fill="#fff"/></svg>
            </a>  
        {{/if}}
    </div>

    <hr>

    <div class="rest-services">
        {{#if restaurant.wifi}}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height ="50" width="100" id="Capa_1" x="0px" y="0px" viewBox="0 0 54.908 54.908" style="enable-background:new 0 0 54.908 54.908;" xml:space="preserve">
<g>
	<path d="M54.615,19.123c-7.243-7.244-16.89-11.233-27.161-11.233S7.537,11.878,0.293,19.123c-0.391,0.391-0.391,1.023,0,1.414   s1.023,0.391,1.414,0C8.573,13.67,17.717,9.889,27.454,9.889s18.881,3.781,25.747,10.647c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293C55.006,20.146,55.006,19.513,54.615,19.123z"/>
	<path d="M6.171,25c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293   c10.955-10.956,28.781-10.956,39.737,0c0.391,0.391,1.023,0.391,1.414,0s0.391-1.023,0-1.414C37.002,13.266,17.907,13.264,6.171,25   z"/>
	<path d="M27.454,24.508c-5.825,0-11.295,2.263-15.404,6.371c-0.391,0.391-0.391,1.023,0,1.414s1.023,0.391,1.414,0   c3.731-3.73,8.699-5.785,13.99-5.785c5.291,0,10.259,2.055,13.99,5.785c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414C38.75,26.771,33.279,24.508,27.454,24.508z"/>
	<path d="M27.454,33.916c-3.612,0-6.551,2.939-6.551,6.552s2.939,6.552,6.551,6.552c3.613,0,6.552-2.939,6.552-6.552   S31.067,33.916,27.454,33.916z M27.454,45.019c-2.51,0-4.551-2.042-4.551-4.552s2.042-4.552,4.551-4.552s4.552,2.042,4.552,4.552   S29.964,45.019,27.454,45.019z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
            </svg>
        {{/if}}
        
        {{#if restaurant.coworking}}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  height ="50" width="100" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M277.333,128h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C266.667,123.221,271.445,128,277.333,128z M288,64h42.667v42.667H288V64z"/>
			<path d="M384,0H128c-5.888,0-10.667,4.779-10.667,10.667v490.667c0,5.888,4.779,10.667,10.667,10.667h256     c5.888,0,10.667-4.779,10.667-10.667V10.667C394.667,4.779,389.888,0,384,0z M330.667,490.667H288V384h42.667V490.667z      M373.333,490.667H352V373.333c0-5.888-4.779-10.667-10.667-10.667h-64c-5.888,0-10.667,4.779-10.667,10.667v117.333h-128V21.333     h234.667V490.667z"/>
			<path d="M277.333,234.667h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C266.667,229.888,271.445,234.667,277.333,234.667z M288,170.667h42.667v42.667H288     V170.667z"/>
			<path d="M277.333,341.333h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C266.667,336.555,271.445,341.333,277.333,341.333z M288,277.333h42.667V320H288V277.333     z"/>
			<path d="M170.667,341.333h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C160,336.555,164.779,341.333,170.667,341.333z M181.333,277.333H224V320h-42.667     V277.333z"/>
			<path d="M170.667,128h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C160,123.221,164.779,128,170.667,128z M181.333,64H224v42.667h-42.667V64z"/>
			<path d="M170.667,234.667h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C160,229.888,164.779,234.667,170.667,234.667z M181.333,170.667H224v42.667h-42.667     V170.667z"/>
			<path d="M170.667,448h64c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-64     c-5.888,0-10.667,4.779-10.667,10.667v64C160,443.221,164.779,448,170.667,448z M181.333,384H224v42.667h-42.667V384z"/>
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
            </svg>
        {{/if}}
        {{#if restaurant.petFriendly}}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  height ="50" width="100" id="Capa_1" x="0px" y="0px" viewBox="0 0 441.23 441.23" style="enable-background:new 0 0 441.23 441.23;" xml:space="preserve">
<path d="M440.651,132.739c-0.888-2.354-2.721-4.229-5.054-5.171L396.39,111.75c-2.435-12.666-12.056-22.81-24.436-26.008  l-2.115-24.363c-0.309-3.565-2.701-6.608-6.093-7.751c-3.391-1.142-7.137-0.167-9.541,2.484l-10.062,11.099l-6.22-21.766  c-1.072-3.752-4.44-6.386-8.341-6.521c-3.924-0.139-7.444,2.258-8.773,5.928L274.34,173.047c0,0-172.127,8.035-172.199,8.039  c-35.296,2.121-68.735-16.765-85.167-48.119c-2.309-4.402-7.748-6.102-12.149-3.794c-4.403,2.308-6.101,7.747-3.794,12.149  c14.69,28.03,40.708,47.75,70.541,54.93c-3.097,3.609-9.751,12.554-13.642,26.617c-4.231,15.291-5.756,39.667,9.801,70.619  L42.499,327.76c-1.474,2.001-2.054,4.523-1.603,6.968l11.105,60.218c0.787,4.268,4.51,7.367,8.851,7.367h11.312  c2.669,0,5.2-1.185,6.911-3.233c1.71-2.05,2.422-4.753,1.944-7.378l-7.032-38.627l74.401-55.853c0.131-0.099-0.126,0.107,0,0  c7.114-5.975,12.278-12.556,15.972-19.322c38.777,6.808,91.844,16.02,125.857,21.498l14.986,95.314  c0.689,4.377,4.46,7.602,8.891,7.602h9.308c4.971,0,9-4.029,9-9V296.56c8.449-5.77,11.469-15.42,13.472-24.871  c0.063-0.297,20.022-92.416,20.022-92.416c3.762,0.627,7.561,0.956,11.388,0.956c26.356,0,50.492-15.431,62.987-40.271  C441.401,137.712,441.539,135.094,440.651,132.739z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
            </svg>
        {{/if}}        
        {{#if restaurant.delivery}}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  height ="50" width="100"  id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M430.951,317.154c-36.777,0-66.697,29.92-66.697,66.697c0,36.777,29.92,66.697,66.697,66.697    c36.777,0,66.697-29.92,66.697-66.697C497.648,347.074,467.728,317.154,430.951,317.154z M430.951,419.64    c-19.734,0-35.788-16.054-35.788-35.788c0-19.734,16.054-35.788,35.788-35.788c19.734,0,35.788,16.054,35.788,35.788    C466.738,403.586,450.684,419.64,430.951,419.64z"/>
	</g>
</g>
<g>
	<g>
		<path d="M66.697,363.518c-11.212,0-20.333,9.121-20.333,20.333c0,11.212,9.121,20.333,20.333,20.333s20.333-9.121,20.333-20.333    C87.03,372.639,77.91,363.518,66.697,363.518z"/>
	</g>
</g>
<g>
	<g>
		<path d="M430.951,363.518c-11.212,0-20.333,9.121-20.333,20.333c0,11.212,9.121,20.333,20.333,20.333s20.333-9.121,20.333-20.333    C451.284,372.639,442.162,363.518,430.951,363.518z"/>
	</g>
</g>
<g>
	<g>
		<path d="M312.863,61.451v141.804h-37.862h-15.455h-29.985v30.909h29.985v43.516h-80.948V151.373h37.392v-30.909h-37.392h-15.455    h-56.162L35.247,325.055C14.287,336.311,0,358.442,0,383.851c0,36.777,29.92,66.697,66.697,66.697s66.697-29.92,66.697-66.697    c0-3.737-0.325-7.399-0.918-10.97h216.208l3.172-11.266c9.933-35.278,42.457-59.916,79.094-59.916    c21.901,0,42.521,8.557,58.058,24.094l21.856-21.857c-17.679-17.679-40.153-28.78-64.459-32.093v-37.679H512v0V61.451H312.863z     M66.697,419.64c-19.734,0-35.788-16.054-35.788-35.789c0-15.203,9.532-28.213,22.932-33.39c0.312-0.121,0.626-0.239,0.941-0.35    c0.223-0.078,0.447-0.154,0.672-0.228c0.318-0.105,0.637-0.209,0.957-0.306c0.241-0.072,0.484-0.139,0.726-0.207    c0.306-0.084,0.611-0.169,0.918-0.246c0.27-0.067,0.543-0.128,0.815-0.189c0.285-0.064,0.57-0.129,0.856-0.185    c0.303-0.06,0.609-0.111,0.915-0.164c0.263-0.045,0.524-0.093,0.788-0.132c0.339-0.05,0.682-0.09,1.025-0.131    c0.236-0.028,0.471-0.061,0.707-0.084c0.389-0.038,0.783-0.064,1.177-0.09c0.194-0.012,0.387-0.032,0.582-0.041    c0.589-0.029,1.182-0.045,1.777-0.045c0.709,0,1.413,0.028,2.114,0.068c0.262,0.016,0.52,0.038,0.78,0.06    c0.42,0.033,0.84,0.074,1.257,0.122c0.338,0.039,0.675,0.08,1.01,0.129c0.284,0.04,0.566,0.09,0.849,0.137    c9.226,1.567,17.264,6.668,22.654,13.868c0.004,0.005,0.008,0.011,0.012,0.016c4.465,5.971,7.112,13.377,7.112,21.389    C102.486,403.586,86.432,419.64,66.697,419.64z M415.496,271.86c-40.015,5.57-74.496,32.446-89.564,70.113H118.593    c-1.487-1.834-3.068-3.579-4.731-5.236c-10.369-10.379-24.136-17.354-39.465-19.125c-0.084-0.01-0.168-0.023-0.251-0.032    c-0.894-0.1-1.795-0.174-2.699-0.239c-0.24-0.018-0.478-0.048-0.718-0.064l58.171-165.906h18.791v157.218h142.766v-74.426h22.407    h102.632V271.86z M481.091,203.255h-34.685H343.773V92.361h53.204v39.594h30.909V92.361h53.204V203.255z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
            </svg>
        {{/if}}
    </div>

<hr>

<div class="rate-btn">
    <h3>{{likes}}</h3>
    <form action="/restaurants/{{ restaurant._id }}/like" method="POST">
        <button type="submit" name="rate" value="like"><img src="/images/emojione_smiling-face-with-heart-eyes.png"></button>
    </form>

<h3>{{dislikes}}</h3>
  <form action="/restaurants/{{ restaurant._id }}/dislike" method="POST">
        <button type="submit" name="rate" value="like"><img src="/images/emojione_sad-but-relieved-face.png"></button>
    </form>


    <form action="/favorite/{{ restaurant._id }}" method="POST">
        <button type="submit" name="favorite" value="favorite"><img src="/images/noto_drooling-face.png"></button>
    </form>
    
</div>
  
  <hr>

<div class="write-review">
    <form action="/restaurants/{{ restaurant._id}}/review" method="POST"> Write a review
        <input type="text" name="review">
        <button type="submit">Post</button>
    </form>
</div>
