{{!-- <h1 class="heading">Restaurant List</h1> --}}

<div class="filters">
    <form action="/restaurants/price/€">
        <button>€</button>
    </form>

    <form action="/restaurants/price/€€">
        <button>€€</button>
    </form>

    <form action="/restaurants/price/€€€">
        <button>€€€</button>
    </form>

    <form action="/restaurants/style">
        <label class="filt-options"> Style
            <select name="style">
            {{#each options}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        
            </select>
        </label>
        <button>Filter</button>
    </form>

    <a href="/favorites"><img src="/images/noto_drooling-face.png"></a>
</div>


<div class="rest-list">
    {{#each dbRestaurants}}
    <a href="/restaurants/{{this._id}}" class="anchor"> 
        <h1 class="rest-names">{{this.name}}</h1>
     <img src="{{this.picture}}"/> 
    </a>
{{/each}}
</div>
