
    <h1>{{restaurant.name}}</h1>
    <img src="{{picture}}" />

    <p>{{likes}}</p>
    <p>{{dislikes}}</p>
    
    <p>{{restaurant.style}}</p>
    <p>{{restaurant.favorite}}</p>
    <p>{{restaurant.address}}</p> 
    {{#if restaurant.phonenumber}}
    <p>{{restaurant.phonenumber}}</p>
    {{/if}}

    <p>{{restaurant.price}}</p>
    <p>{{restaurant.wifi}}</p>
    <p>{{restaurant.coworking}}</p>
    <p>{{restaurant.petfriendly}}</p>
    <p>{{restaurant.delivery}}</p>



    <form action="/restaurants/{{ restaurant.id }}" method="POST">
    <label> Review
            <input type="text" name="review" placeholder="Your review" />
        <button type="submit" name="rate" value="like">like</button>
    </form>

    <form action="/restaurants/{{ restaurant.id }}" method="POST"> 
        <button type="submit" name="rate" value="dislike">dislike</button>
   </form>

    <form action="/favorite/{{ restaurant._id }}" method="POST">
        <button type="submit" name="favorite" value="favorite">Favorite</button>
    </form>

