
    <h1>{{restaurant.name}}</h1>
    <img src="{{picture}}" />

    <p>{{likes}}</p>
    <p>{{dislikes}}</p>
    
    <p>{{restaurant.style}}</p>
    <p>{{restaurant.address}}</p> 
    {{#if restaurant.phonenumber}}
    <p>{{restaurant.phonenumber}}</p>
    {{/if}}

    <p>{{restaurant.price}}</p>
    <p>{{restaurant.wifi}}</p>
    <p>{{restaurant.coworking}}</p>
    <p>{{restaurant.petfriendly}}</p>
    <p>{{restaurant.delivery}}</p>



    <form action="/restaurants/{{ restaurant._id }}/like" method="POST">
        <button type="submit" name="rate" value="like">like</button>
    </form>

    <form action="/restaurants/{{ restaurant._id }}/dislike" method="POST">
        <button type="submit" name="rate" value="like">dislike</button>
    </form>

